In [1]:
# importing required modules

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os
import re
import util
import random

In [2]:
# loading data
df=util.get_processed_data("./data/collections_math.csv")
df.head()

,collection_id,sequence_id,resource_id,title,description,text
0,0008d66a-753f-4639-8634-81bb3abb3269,3,2ee6f80f-0851-4cfa-b4bf-2655e9c46ab7,Solve the Linear equation: _______,Solve the Linear equation: [2],Solve the Linear equation Solve the Linear equ...
1,0008d66a-753f-4639-8634-81bb3abb3269,5,15a464a4-a2d8-41dd-b00e-ff7fea0aa720,"If , then _______","If , then [-4]",If then If then
2,0008d66a-753f-4639-8634-81bb3abb3269,2,0b248202-12a9-405b-acd1-4ab8250e4198,"If , then _______","If , then [1/5]. &nbsp;Please writ...",If then If then nbsp Please write your answer ...
3,0008d66a-753f-4639-8634-81bb3abb3269,1,231eb4ad-d0e8-4e94-a552-f8bd2358a47a,Solve the linear equation: _______,Solve the linear equation: [1/2] ...,Solve the linear equation Solve the linear equ...
4,0008d66a-753f-4639-8634-81bb3abb3269,4,81c6995c-dd95-418e-a8c4-c22d8ccd32e9,Solve the linear equation: _______,Solve the linear equation: [-18],Solve the linear equation Solve the linear equ...

In [3]:
# generating text column using title and description
df['text'] = df[['title', 'description']].apply(lambda x: ' '.join(x), axis=1)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27754 entries, 0 to 27753
Data columns (total 6 columns):
collection_id    27754 non-null object
sequence_id      27754 non-null int64
resource_id      27754 non-null object
title            27754 non-null object
description      27754 non-null object
text             27754 non-null object
dtypes: int64(1), object(5)
memory usage: 1.3+ MB

In [8]:
# generating collections
collections = util.get_collections(df)

In [9]:
# processing the text column
for col in collections:
    lrs = []
    for i,text in enumerate(col["texts"]):
        new_text = ""
        for word in text.split():
            if len(word)>2:
                new_text+=word+" "
        if new_text.strip()!="":
            lrs.append(new_text.strip().lower())
    col["texts"] = lrs

In [10]:
# generating new valid paiwise learning resources data
data=[]
for col in collections:
    ran = min(len(col["sequence_ids"]),len(col["resource_ids"]),len(col["texts"])) 
    for i in range(0,ran-1):
        new_data=[]
        
        
        new_data.append(col["id"])
        new_data.append(col["id"])
        
        new_data.append(col["sequence_ids"][i])
        new_data.append(col["sequence_ids"][i+1])
        
        new_data.append(col["resource_ids"][i])
        new_data.append(col["resource_ids"][i+1])
        
        new_data.append(col["texts"][i])
        new_data.append(col["texts"][i+1])
        
        data.append(new_data)

In [11]:
# creating a dataframe for the valid resources 
new_df=pd.DataFrame(data = data, columns=["collection_id1","collection_id2","sequence_id1","sequence_id2","resource_id1",
                                    "resource_id2","text1","text2"])
new_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23229 entries, 0 to 23228
Data columns (total 8 columns):
collection_id1    23229 non-null object
collection_id2    23229 non-null object
sequence_id1      23229 non-null int64
sequence_id2      23229 non-null int64
resource_id1      23229 non-null object
resource_id2      23229 non-null object
text1             23229 non-null object
text2             23229 non-null object
dtypes: int64(2), object(6)
memory usage: 1.4+ MB

In [12]:
# generating new invalid paiwise learning resources data


invalid_data=[]
col_id=df.collection_id.unique()

for i in range(0,31397):
    new_row=[]
    
    col_1=random.choice(collections)
    col_2=random.choice(collections)
    
    min1=min(len(col_1["sequence_ids"]),len(col_1["resource_ids"]),len(col_1["texts"]))
    min2=min(len(col_2["sequence_ids"]),len(col_2["resource_ids"]),len(col_2["texts"]))
    
    
    val_1=random.randint(0,min1-1)
    val_2=random.randint(0,min2-1)
    
#     print(len(col_1["sequence_ids"]))
#     print(len(col_2["sequence_ids"]))
    
#     print("\n")
    
#     print(len(col_1["resource_ids"]))
#     print(len(col_2["resource_ids"]))

#     print("\n")
    
#     print(len(col_1["texts"]))
#     print(len(col_2["texts"]))

#     print("\n")

    
    seq_id1 = col_1["sequence_ids"][val_1]
    seq_id2 = col_2["sequence_ids"][val_2]
    
    res_id1 = col_1["resource_ids"][val_1]
    res_id2 = col_2["resource_ids"][val_2]    
    
    text1 = col_1["texts"][val_1]
    text2 = col_2["texts"][val_2]    
    
    new_row.append(col_1["id"])
    new_row.append(col_2["id"])
   
    new_row.append(seq_id1)
    new_row.append(seq_id2)
    
    new_row.append(res_id1)
    new_row.append(res_id2)
    
    new_row.append(text1)
    new_row.append(text2)
    
    invalid_data.append(new_row)

In [13]:
# creating a dataframe for the invalide resources 

new_invalid_df=pd.DataFrame(data = invalid_data, columns=["collection_id1","collection_id2","sequence_id1","sequence_id2","resource_id1",
                                    "resource_id2","text1","text2"])
new_invalid_df.head()

,collection_id1,collection_id2,sequence_id1,sequence_id2,resource_id1,resource_id2,text1,text2
0,935b0ee5-003f-425f-aaab-b9fa2c88cb49,90146ff5-07a4-4595-aa39-8b4376cd2388,3,3,881779b6-843f-11e3-a253-12313f070480,e6f963be-5afc-4f4b-858b-a7b1824544de,equation line this video describes how find th...,draw model show your thinking kelly buys tarp ...
1,9235bfb8-05d2-429e-8e0d-26693168b5e9,05093016-2cda-4677-8c44-8dda982e9874,1,25,f55be2a5-bd1c-44e5-81db-6a96826eed76,a945bd1b-67ca-49df-a80f-f6b23b7beabc,lesson 17: write expressions which letters sta...,change mixed number into improper fraction 1(1...
2,fcff006e-2336-4aae-b11e-52280e74f05c,20a333a2-3847-43ef-8000-4cfd95b70284,2,5,1d0511b6-2bd7-4203-b876-fc0aded263d9,8c253ab9-ad9f-4231-9a57-bc30b026ea48,australia experienced major pest australia exp...,asteroids orbiting sun video clip showing all ...
3,85ef1b0a-0635-4fce-9dbd-ead8436d9e5e,7b44d0d3-8065-4579-a0b1-48dc3b4988e4,4,1,b4955af3-488a-44e3-a467-3f65f5049669,9a26d2b9-7699-451e-8f93-a78dd06d75d5,multi-digit multiplication practice 5764 [4611...,grasshopper covered distance yards grasshopper...
4,51a5b6cb-651a-46e8-8f3e-14d2b484feaa,e5860f3c-db5c-46af-9ee2-4df7b28ad846,3,8,38064450-e156-4137-8837-20ac5843bb04,ca84e919-edbe-445b-ae72-7bff6c183860,4-6 multiplying polynomials (pt. youtube prese...,systems equations with elimination challenge s...

In [14]:
# appending valid and invalid dataframe 
final_df = new_df.append(new_invalid_df , ignore_index=True)

In [15]:
final_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 54626 entries, 0 to 54625
Data columns (total 8 columns):
collection_id1    54626 non-null object
collection_id2    54626 non-null object
sequence_id1      54626 non-null int64
sequence_id2      54626 non-null int64
resource_id1      54626 non-null object
resource_id2      54626 non-null object
text1             54626 non-null object
text2             54626 non-null object
dtypes: int64(2), object(6)
memory usage: 3.3+ MB

In [16]:
final_df.head()

,collection_id1,collection_id2,sequence_id1,sequence_id2,resource_id1,resource_id2,text1,text2
0,0008d66a-753f-4639-8634-81bb3abb3269,0008d66a-753f-4639-8634-81bb3abb3269,1,2,231eb4ad-d0e8-4e94-a552-f8bd2358a47a,0b248202-12a9-405b-acd1-4ab8250e4198,solve the linear equation: _______ solve the l...,then _______ then [1/5]. &nbsp;please write yo...
1,0008d66a-753f-4639-8634-81bb3abb3269,0008d66a-753f-4639-8634-81bb3abb3269,2,3,0b248202-12a9-405b-acd1-4ab8250e4198,2ee6f80f-0851-4cfa-b4bf-2655e9c46ab7,then _______ then [1/5]. &nbsp;please write yo...,solve the linear equation: _______ solve the l...
2,0008d66a-753f-4639-8634-81bb3abb3269,0008d66a-753f-4639-8634-81bb3abb3269,3,4,2ee6f80f-0851-4cfa-b4bf-2655e9c46ab7,81c6995c-dd95-418e-a8c4-c22d8ccd32e9,solve the linear equation: _______ solve the l...,solve the linear equation: _______ solve the l...
3,0008d66a-753f-4639-8634-81bb3abb3269,0008d66a-753f-4639-8634-81bb3abb3269,4,5,81c6995c-dd95-418e-a8c4-c22d8ccd32e9,15a464a4-a2d8-41dd-b00e-ff7fea0aa720,solve the linear equation: _______ solve the l...,then _______ then [-4]
4,001bf2c6-8ede-478a-9b8b-d7750488cb1b,001bf2c6-8ede-478a-9b8b-d7750488cb1b,1,2,1b922fae-619f-4f52-9551-663b3206e4e5,8b9c50e6-e568-48f7-afee-91f46c8fb523,lesson i'll say addition subtraction sentence....,subtracting fractions from whole numbers i'll ...

In [17]:
# saving data into data files
new_df.to_csv("./data/math_valid_pairwise_res.csv")
new_invalid_df.to_csv("./data/math_invalid_pairwise_res.csv")
final_df.to_csv("./data/math_final_pairwise.csv")